# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.pnpm-store/
.yarn/

# production
.next/
out/
build/
dist/
static/

# misc
.DS_Store
.env*.local
.eslintcache

# debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/

# OS
.DS_Store?

