# see https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
pnpm-store/
/dist

# testing
/coverage

# produced files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.vscode/
.idea/

# OS
.DS_Store

